/*Til alle sider*/

body {
    background-color: #F6FBFB;
    font-family: "Plus Jakarta Sans";
    margin: auto;
}

/*Main*/
main {
    display: flex;
    flex-direction: column;
}

/*Header*/
#logo {
    height: 6vh;
    margin-top: 2px;
    margin-left: 2px;
}

header {
    display: flex;
    justify-content: space-around;
    height: 40px;
    margin-top: auto;
}

.tekstheader {
    font-size: 15px;
    text-decoration: none;
    color: black;
    margin: auto;
    font-weight: bold;
}

h1 {
    font-size: 20px;
    text-align: center;
    color: white;
}

/*Navigation*/

/*Footer*/
footer {
    height: auto;
    margin-top: auto;
    background-color: #939D9F;
    margin-bottom: 0px;
    text-decoration: none;
    }

    footer p {
      color: green;
      }

footer ul {
  margin-left: -40px;
  list-style: none;
  text-decoration: none;
  }

  footer ul li {
  list-style-type: none;
}


/*Specielt på forskellige sider*/


/*Forsiden*/
.overskriftbaggrund {
    height: 68px;
    width: 100%;
    background-color: #12454F;
    margin-top: -5px;
    /*columns: 3;*/
    display: flex;
    justify-content: space-around;
}

#sealleevents {
    color: white;
    font-size: 10px;
    margin-top: 40px;
}

#fylde {
height:9vh ;
width: 9vh;
}

/*slideshow*/
#slideshowbillede {
    width: 100%;
}

/*forsidebokse*/
.forsideboks {
    width: 279px;
    height: 371px;
    background-color: #ED6B78;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}

.forsideimgboks {
    width: 224px;
    height: 207px;
    display: block;
    margin:auto;
    padding-top: 30px;
}

.tekstiboks {
    color: white;
    margin: auto;
    padding-top: 25px;
    text-align: center;
}

/*Events siden*/

/*Opret event siden*/
.eventboks{
    height: 150px;
    background-color: #ED6B78;
    margin-top: 25px;
}
.eventbutton {
    background-color: #21444E;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin-inline: 180px;


  }
/*Kontakt siden*/


@media only screen and (max-width: 300px) {

}
